@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
//Colors
$dark-blue: #05386b;
$mate-green: #379683;
$bright-green: #5CDB95;
$pale-green: #b3dfc4;
$cream: #EDF5E1;
$grayed-out: #AAAFB4;

$concert-one : 'Concert One', cursive;

//Screen widths

$large-mobile : 426px;
$tablet: 769px;
$laptop: 1024px;