

  .code-editor {
      @include set-flex(row);
      flex-grow: 1;
      height: 93.5vh;
      overflow-x: hidden;
      overflow-y: hidden;
  }
  
  .code-input,
  .code-output {
    height: 100%;
    padding: 1rem 1rem 1rem 1rem;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.8rem;
    line-height: 1.5em;
    word-wrap: break-word;
    overflow-x: hidden;
    flex: 50%;
  }
  
  .code-input {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: calc(100% - 8%);
    font-size: 1.0rem;
    border: none;
    overflow-y: scroll;

    &:focus {
      outline: none;
    }
  }

  .code-output {
    box-sizing: border-box;
    width: 33vw;
    flex-grow: 10;
    height: 100%;
    background-color: #282a36;
    pointer-events: none;
    margin: 0;
    overflow: hidden;
  }

  code {
    font-size: 0.8rem;
    font-family: "PT Mono", monospace;
  }
  
  .tag:not(body) {
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    display: initial;
    font-size: 1em;
    height: 2em;
    justify-content: center;
    line-height: inherit;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
  }
  
  .input-container {
    width: 40vw;
    @include set-palette($cream, $dark-blue);
  }

  .input-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1rem;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .uncollapsable {
    font-size: 0.8vw;
  }


@media only screen and (max-width: $laptop) {

    .code-editor {
        @include set-flex(column);
        width: 100%;
        height: 93.5vh;

        .code-output {
          height: 50%;
          width: 100%;
        }

        .input-container {
          height: 50%;
          width: 100%;
        }

        .input-header {
            height: 20%;
        }

        .code-input {
            height: 80%;
        }

        .uncollapsable {
            font-size: 1.2rem;
        }
    }

}

@media only screen and (max-width: $tablet) {
    .code-editor {
      height: 100vh;

      .input-header {
        overflow-x: scroll;
      }
      .uncollapsable {
        font-size: 0.8rem;
        h1 {
          width: 150px;
        }
      }
    }
    
} 